*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  height: 100%;
  color: white;
  font-size: 0.7rem;
}
img {
  max-width: 100%;
  display: block;
}

h1 {
  color: black;
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 1;
}
h2 {
  font-weight: 700;
  font-size: 1.5rem;
  color: orange;
}

p {
  color: #707070;
}

header {
  padding: 1em 0;
  text-align: center;
}

.container {
  max-width: 800px;

  margin: 0 auto;
}
.container-flex {
  display: flex;
  justify-content: space-between;
}

/*navigation*/

.header-items {
  /* align-items: center; */
}
.menu-icon{
  display: none;
}
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin-left: 2em;
}

nav a {
  text-decoration: none;
  color: #707070;
  font-weight: 300;
  padding: 0.25em 0;
}
nav a:hover{
  color: tomato;
}

main {
  width: 70%;
  /* border: 1px solid black; */
}

.news {
  /* margin: 0; */
  display: flex;
  margin-top: 2rem;
}
.read-more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* margin-left: 2rem; */
  width: 49%;
  /* border: 1px solid black; */
}

.read-more-button {
  width: 50%;
  height: 35%;
  text-align: center;
  letter-spacing: 0.4em;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  background-color: tomato;
  font-weight: 700;
  cursor: pointer;
}
.read-more-button:hover{
  background-color: #000;
}
aside {
  width: 28%;
  background: black;
  padding: 2em;
}

.new-stories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.story {
  border-bottom: 1px solid #707070;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}
.story:last-child {
  border-bottom: none;
}

/*bottom part*/

h4 {
  font-size: 1.4rem;
  color: gray;
}
h5 {
  font-size: 0.755rem;
  color: black;
  cursor: pointer;
}
h5:hover{
  color: tomato;
}

.main-news{
  width: 45%;
}

.trending-news {
  width: 28%;

  display: flex;

  width: 28%;
  gap: 1rem;
  margin-top: 1rem;
}
.trending-news-image {
   width: 35%;
}
.trending-news-text {
  /* border: 1px solid black; */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 60%;
}

.mobile {
  display: none;
}

.sidepanel  {
  width: 0;
  position: fixed;
  z-index: 1;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #FFF;
  overflow-x: hidden;
  transition: 0.5s;
}

.sidepanel a {
  padding: 0.5em;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidepanel a:hover {
  color: #000;
}

.sidepanel .closebtn {
 display: flex;
 flex-direction: row-reverse;
 padding: 1rem;
}

@media (max-width: 650px) {
  .container-flex {
    flex-direction: column;
    margin-bottom: 1em;
    min-width: 300px;
    padding: 1rem;
  }

  main {
    width: 100%;
  }

  aside {
    width: 100%;
  }

  .news{
    gap:1rem;
  }
  .main-news{
    width: 100%;
  }
  .read-more {
    width: 100%;
    gap:1rem;
    height: 100px;
  }
  .trending-news {
    width: 100%;
  }
  .trending-news-text{
    gap: 2rem;
  }
  nav {
    display: none;
  }
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
  .header-items {
    display: flex;
    flex-direction: row;
  }
  .menu-icon{
    /* align-items: end; */
    display: flex;
    padding:1rem;
  }
  .trending-news-image {
    min-width: 40%;
 }
}
