
body {
  margin: 0;
  font-family: 'Ubuntu',sans-serif;
  font-weight: 300;
}


h1{
  font-size: .8rem;
}

h2{
  font-size: 2.4rem;
  color: white;
}
h3{
  font-size: .6rem;
}
h4{
  font-size: 1.125rem;
}

.container{
  
  height: 100%;
  width: 90%;
  max-height: 60%;
  max-width: 500px;
  margin: 5em auto;
  display: flex; 
  border-radius: 12%;
}

 .left-side{
  background-color: #1F51FF;
  width: 50%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 12%;
} 

.circle {
  display: flex;
  height: 32%;
  width: 40%;
  flex-direction: column;
  align-items: center;
  border-radius: 50%;
  border:black 1px solid;
background-color: #0F52BA ;
}

.outof{
  margin-top: -40px;
}

.result{
  width: 50%;
text-align: center;
margin: 0 auto;
}