@font-face {
  font-family: 'HankenGrotesk';
  font-display: swap;
  font-weight: 100 900;
  src: url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf') 
       format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}


img,
svg {
  display: block;
  max-width: 100%;
}


body {
  color: #303B5A;
  font-family: 'HankenGrotesk', sans-serif;
  font-size: 1.125rem;
}

h2{
  font-weight: 700;
  font-size: 1.5rem;
}

.container{
  display: flex;
  flex-direction: row;
  width: 90%;
  max-width: 700px;
  margin: 2rem auto;

  box-shadow: 1rem 1rem 1rem #303B5A2E;
  border-radius: 5%;
}

.section-title{
  font-size: 1.5rem;
  font-weight: 700;
  color:#B3B3B3 ;
}

.circle{
  border-radius: 50%;
width: 12rem;
aspect-ratio: 1/1;
display: inline-block;

align-items: center;

display: flex;
justify-content: center;
flex-direction: column;
background-image:linear-gradient(#4E21CA, #2421CA14)
}

.circle-score{
  display: block;
  font-size: 5rem; 
  font-weight:800;
  line-height: 1;
  color: #ffff;
}

.outof{
  color: #B3B3B3; 
}

.left-side{
width: 50%;
display: flex;
flex-direction: column;
background-image:linear-gradient( #7857FF, #2E2BE9) ;
align-items: center;
text-align: center;
padding: 2em;
border-radius: 5%;
gap:2rem
}

.right{
  /* border: 1px solid black; */
  width: 50%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-radius: 0 5% 5% 0;
}

.result-detail{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.result-rank{
 
   color: #FFFFFF;
  font-size: 1.75rem;
  font-weight: 700;

}

.score-detail{
  color: #B3B3B3; 
}
.summary{
  display: flex;
  flex-direction: column;
  gap:1rem;
}

.summary-detail{
  display: flex;
  justify-content: space-between;
  background:#1125D4;
  padding: 1rem;
  border-radius: .5rem;
}
.summary-type{
  display: flex;
  gap: 1rem;
  align-items: center;
 
}
.type1{
 background: #FFB01F14;;
}
.type2{
  background:  #FF57570F;
}
.type3{
  background: #00BD910A;
}
.type4{
  background: #1125D412;
}
.summary-type-text1{
  
  color: #FFB01FDE;
  font-weight: 700;
}
.summary-type-text2{
  color: #FF5757D9; 
  font-weight: 700;
}
.summary-type-text3{
  color: #00BD91E3; 
  font-weight: 700;
}
.summary-type-text4{
  color: #1125D4E3;
  font-weight: 700;
}

button{
  color: #FFFFFF;
  background: #303B5A;
  line-height: 1;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 2rem;
  cursor: pointer;
}

.summary-score{
 color: #303B5A4D;;
 font-weight: 800;
}
.summary-score span{
  color: #303B5A;
}

@media (max-width:650px) {
  .container{
    flex-direction: column;
    width: 100%;
    margin: 0;
    box-shadow: none;
    min-width: 300px;
  }
  .left-side{
    width: 100%;
    border-radius:  0% 0% 5% 5%;;
  }
  .right{
    width: 100%;
  }
}